@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  font-family: "Press Start 2P", system-ui;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.tap-header.is-open .tap-header-background {
  left: 0;
}
.tap-header-button-wrapper {
  margin-left: auto;
}
.tap-header-icon {
  display: none;
}

.tap-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.tap-navigation-list.is-open {
  right: 0;
}
.tap-header-icon-menu {
  display: block;
}

.tap-header-icon-button.is-open .tap-header-icon-menu {
  display: none;
}

.tap-header-icon-button.is-open .tap-header-icon-close {
  display: block;
}

.tap-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: rgba(255, 234, 0, 1);
}

.tap-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 234, 0, 1);
}
.tap-header.is-open .tap-header-background {
  left: 0;
}
.tap-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tap-header-icon-menu {
  display: block;
}

.tap-header-icon-button.is-open .tap-header-icon-menu {
  display: none;
}

.tap-header-icon-button.is-open .tap-header-icon-close {
  display: block;
}

.tap-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.tap-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;

  gap: 28px;
  background: rgba(255, 234, 0, 1);
}

.tap-navigation-list.is-open {
  right: 0;
}

.tap-navigation-link {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.tap-navigation-link:hover,
.tap-navigatioт-link:focus {
  color: rgba(35, 159, 0, 1);
}

.tap-header.is-open {
  background-color: transparent;
}

.tap-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .tap-navigation-img {
    display: flex;
    margin-right: 120px;
  }
  .tap-policy-terms-header-icon-menu {
    display: none;
  }

  .tap-header {
    width: 100%;
    height: 90px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .tap-header-background {
  }
  .tap-header-icon-button {
    display: none;
  }
  .tap-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .tap-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 10x;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .tap-navigation-link {
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding: 0px 20px;
    text-decoration: none;
  }

  .tap-navigation-item-desk {
    display: none;
  }
}
.tap-home {
  width: 375px;
  height: 812px;
  padding: 72px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hs.png");
  margin: auto;
}

.tap-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tap-home-title-img {
  width: 343px;
  height: 224px;
}
.tap-home-title {
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
  padding: 222px 0 32px;
}
.tap-home-title span {
  color: rgba(226, 37, 41, 1);
}
.tap-home-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 24px;
}

.tap-home-google-button-image {
  width: 343px;
  height: 80px;
}

.tap-home-google-button-link:hover .tap-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .tap-home {
    width: 1440px;
    height: 800px;
    padding: 123px 108px 0px 793px;
    background-image: url("/img/home/hero_section.png");
  }

  .tap-home-title-img {
    width: 519px;
    height: 340px;
  }
  .tap-home-title {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -1px;

    padding: 0px 0 40px;
  }
  .tap-home-title span {
    color: rgba(226, 37, 41, 1);
  }
  .tap-home-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    width: 288px;
    padding-bottom: 24px;
  }
}
.tap-uniqueness {
  width: 375px;
  height: 1457px;
  margin: auto;
  margin-top: -22px;
  padding: 60px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/bg_how_to_atrosphere.png");
}

.tap-uniqueness-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.tap-uniqueness-list-two {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 321px;
}

@media screen and (min-width: 1200px) {
  .tap-uniqueness {
    width: 1440px;
    height: 832px;
    margin-top: -38px;
    padding: 100px 0px 0;
    background-image: url("/img/uniqueness/bg_atmosphere.png");
  }
  .tap-uniqueness-list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 600px;
    margin: auto;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .tap-uniqueness-list-two {
    padding-top: 46px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    width: 1016px;
  }
}
.tap-about {
  padding: 60px 16px 0px;
  margin: auto;
  margin-top: -10px;
  width: 375px;
  height: 1451px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/bg_about.png");
}
.tap-about-img {
  width: 343px;
  height: 290px;
  margin-bottom: 20px;
}
.tap-about-title {
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -2%;
  text-transform: uppercase;
}
.tap-about-title-span {
  color: rgba(226, 37, 41, 1);
}
.tap-about-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 32px 0;
}

.tap-about-text span {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(226, 37, 41, 1);
}

.tap-why-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 162px;
  margin: auto;
}

.tap-why-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 16px;
}
@media screen and (min-width: 1200px) {
  .tap-about {
    padding: 100px 108px 0;
    width: 1440px;
    height: 861px;
    background-image: url("/img/about/bg_about\ \(1\).png");
    display: flex;
    gap: 24px;
  }
  .tap-about-img {
    width: 600px;
    height: 532px;

    margin-bottom: 0px;
  }
  .tap-about-title {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 34px;
    line-height: 54px;
    letter-spacing: -4%;
    text-transform: uppercase;
  }

  .tap-about-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 32px 0;
  }

  .tap-about-text span {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .tap-why-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 128px;
    width: 496px;
    margin: 0;
  }
  .tap-why-item {
    width: 184px;
    height: 148px;
  }
  .tap-why-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}
.tap-how {
  width: 375px;
  height: 1664px;
  margin: auto;
  margin-top: -24px;
  padding: 60px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/bg_how_to_play.png");
  position: relative;
}
.tap-how-image {
  width: 160px;
  height: 157px;
  position: absolute;
  top: -100px;
  left: 200px;
}
.tap-how-title {
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.tap-how-title-span {
  color: rgba(255, 234, 0, 1);
}
.tap-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tap-how-item {
  margin: auto;
  width: 288px;
  height: 348px;
  border-radius: 4px;
  background: rgba(254, 254, 254, 1);
  box-shadow: 0px 4px 16px 0px rgba(56, 33, 84, 0.4);
}

.tap-how-text-bold {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 8px;
}

.tap-how-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 16px;
}

@media screen and (min-width: 1200px) {
  .tap-how {
    width: 1440px;
    height: 710px;
    margin-top: -36px;
    padding: 100px 108px 0;
    background-image: url("/img/how/bg_how_to_play\ \(1\).png");
  }
  .tap-how-image {
    width: 337px;
    height: 332px;
    top: -170px;
    left: 1060px;
  }

  .tap-how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .tap-how-item {
    margin: 0;
  }

  .tap-how-text-bold {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 24px 0 8px;
  }

  .tap-how-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 0 16px;
  }
}

.tap-characters {
  padding: 92px 16px 0;
  margin: auto;
  margin-top: -10px;
  width: 375px;
  height: 453px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 253.png");
}
.tap-characters-title {
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
}
.tap-characters-title-span {
  color: rgba(226, 37, 41, 1);
}
.tap-characters-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 32px;
}

@media screen and (min-width: 1200px) {
  .tap-characters {
    padding: 162px 375px 0;
    width: 1440px;
    height: 533px;
    margin-top: -28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/img/Frame\ 254.png");
  }
  .tap-characters-title {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: -4%;
    text-align: center;
    text-transform: uppercase;
  }

  .tap-characters-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 24px 0 40px;
  }
}

.tap-reviews {
  width: 375px;
  margin: auto;
  padding: 60px 43.5px;
}
.tap-reviews-title {
  text-align: center;
}
.tap-reviews-lists {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tap-reviews-list {
  display: none;
}
.tap-reviews-item {
  width: 288px;
  height: 246px;
}

.tap-reviews-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: 16px;
}

.tap-reviews-text-bold {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.tap-reviews-text {
  width: 288px;
  height: 170px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  display: flex;

  padding: 36px 28px;
  background-image: url("/img/reviews/rev_block\ \(1\).png");
}
.tap-reviews-text-two {
  background-image: url("/img/reviews/rev_block\ \(2\).png");
}
.tap-reviews-text-three {
  background-image: url("/img/reviews/rev_block\ \(3\).png");
}
.tap-reviews-text-four {
  background-image: url("/img/reviews/rev_block\ \(4\).png");
}
.tap-reviews-text-five {
  background-image: url("/img/reviews/rev_block\ \(5\).png");
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .tap-reviews {
    width: 1440px;

    padding: 100px 264px 100px;
  }
  .tap-reviews-lists {
    display: none;
  }
  .tap-reviews-list {
    display: block;
    padding-top: 76px;
  }
  .tap-reviews-item {
    width: 288px;
    height: 246px;
    margin: 0 12px;
  }

  .tap-reviews-item-top {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-top: 16px;
  }

  .tap-reviews-text-bold {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .tap-reviews-text {
    width: 288px;
    height: 170px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    padding: 36px 28px;
  }

  .slick-prev:before {
    content: url("/img/reviews/Previous.png");
    display: flex;
    margin-left: -60px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/reviews/Next.png");
    display: flex;
    margin-left: 40px;
  }
}

.tap-faq {
  padding: 70px 16px 0px;
  position: relative;
  margin: auto;
  width: 375px;
  height: 1064px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/faq/bg_how_to_FAQ.png");
}
.tap-faq-image-one {
  width: 150px;
  height: 116px;
  position: absolute;
  top: -50px;
  left: 220px;
}
.tap-faq-image-two {
  display: none;
}
.tap-faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tap-faq-question {
  width: 343px;
  height: 54px;
  gap: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 16px;
  background: rgba(255, 234, 0, 1);
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.tap-faq-answer {
  width: 343px;
  height: 98px;
  padding: 16px;
  background: rgba(255, 237, 230, 1);
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .tap-faq {
    padding: 100px 0 0;
    width: 1440px;
    height: 1183px;
    background-image: url("/img/faq/bg_FAQ.png");
  }
  .tap-faq-image-one {
    width: 378px;
    height: 292px;
    top: 4050px;
    top: -100px;
    left: 0px;
  }
  .tap-faq-image-two {
    display: flex;
    top: 589px;
    left: 1125px;
    position: absolute;
  }
  .tap-faq-container {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 600px;
    margin: auto;
  }

  .tap-faq-question {
    width: 600px;
    height: 56px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 16px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .tap-faq-answer {
    width: 600px;
    height: 80px;
    padding: 16px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.tap-gallery {
  width: 375px;
  height: 386px;
  margin: auto;
  margin-top: -18px;
  padding: 60px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/bg_how_to_Gallery.png");
}

.tap-gallery-list {
  padding-top: 40px;
}

.tap-gallery-item {
  width: 320px;
  height: 194px;
  border-radius: 4px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}

.tap-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .tap-gallery {
    width: 1440px;
    height: 608px;
    margin-top: -54px;
    padding: 100px 160px 0;
    background-image: url("/img/gallery/bg_gallery.png");
  }

  .tap-gallery-item {
    margin: 0 10px;
  }

  .tap-gallery-list {
    padding: 72px 0 0px;
  }
  .tap-gallery-list .slick-slide {
    width: 288px;
    height: 162px;
    border-radius: 4px;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out,
      height 0.6s ease-in-out;
  }

  .tap-gallery-list .slick-slide.slick-center {
    width: 496px;
    height: 278px;

    border-radius: 4px;
    z-index: 2;
  }
}

.tap-features {
  width: 375px;
  height: 701px;
  margin: auto;
  margin-top: -26px;
  background-image: url("/img/features/bg_how_to_play\ \(2\).png");
  padding: 64px 16px 89px;
}
.tap-features-image {
  width: 84px;
  height: 124px;
  margin-top: -90px;
  position: relative;
  z-index: 2;
}
.tap-features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tap-features-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tap-features-text-bold {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.tap-features-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .tap-features {
    background-image: url("/img/features/bg_features.png");
    width: 1440px;
    height: 551px;
    margin-top: -33px;
    padding: 100px 20px 0;
    display: flex;
    gap: 20px;
  }
  .tap-features-image {
    width: 466px;
    height: 703px;

    margin-top: -170px;
  }
  .tap-features-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 808px;
  }

  .tap-features-item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 392px;
  }

  .tap-features-text-bold {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .tap-features-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.tap-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
}

.tap-policy-terms-title {
  text-transform: uppercase;
  font-family: Press Start 2P;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
}

.tap-policy-terms-text {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;

  padding-top: 20px;
}

.tap-policy-terms-texts {
  padding-top: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.tap-policy-terms-text-one {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.tap-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.tap-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.tap-email-link {
  color: inherit;
  text-decoration: none;
}

.tap-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .tap-policy-terms-container {
    padding: 160px 200px 100px;
    width: 1440px;
  }

  .tap-policy-terms-title {
    font-family: Press Start 2P;
    font-weight: 400;
    font-size: 34px;
    line-height: 54px;
    letter-spacing: -4%;
    text-align: center;
    text-transform: uppercase;
  }

  .tap-policy-terms-text {
    padding-top: 40px;
  }

  .tap-policy-terms-text-one {
    padding-top: 30px;
  }

  .tap-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.tap-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(0, 92, 212, 1);

  padding: 30px 0px;
}

.tap-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tap-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.tap-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.tap-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .tap-footer {
    width: 1440px;
    padding: 60px 108px;
  }

  .tap-footer-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 50px;
  }

  .tap-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .tap-footer-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .tap-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.tap-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: rgba(255, 237, 230, 1);

  z-index: 1000;
  display: none;
}

.tap-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(0, 0, 0, 1);
}

.tap-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.tap-cookie-button {
  border: none;
  width: 343px;

  padding-top: 16px;
  padding-bottom: 16px;
  gap: 10px;
  border-radius: 8px;

  background: rgba(209, 90, 74, 1);
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.tap-cookie-button:hover {
  background: rgba(171, 76, 63, 1);
}

#accept-cookies {
  background: rgba(96, 187, 86, 1);
}
#accept-cookies:hover {
  background: rgba(84, 162, 76, 1);
}
.tap-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .tap-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tap-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 704px;
  }

  .tap-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .tap-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 100px;
    display: none;
  }
  .tap-cookie-button {
    width: 190px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
  }
}
